REACT_APP_API_URL=https://elnopal.es/api
REACT_APP_SOCKET_URL=https://elnopal.es
REACT_APP_RESTAURANT_NAME="El Nopal Restaurant"
REACT_APP_RESTAURANT_PHONE="+34 XXX XXX XXX"
REACT_APP_RESTAURANT_EMAIL="reservas@elnopal.es" 